@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Reset de estilos para garantizar consistencia en diferentes navegadores */
body {
    padding: 20px;
    background-image: url('gaming.jpg');
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
    background-image: url('gaming.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h2 {
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}