@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html{
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
    background-image: url('fondo5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --verde_neon: #39ff14;
    --naranja_neon: #ff8c00;
    --rosa_neon: #ff6ec7; 
    --azul_bonito:  #1E90FF;
    --rosa_bonito:  #FFC0CB ;
    --blanco_bonito: rgba(243, 247, 250, 0.8);
}


.container {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 5px 5px 5px rgba(255, 0, 255, 1);

}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px -1px rgba(255, 0, 255, 2);
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--naranja_neon);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--rosa_neon);
}

a {
    color: white;
    border: 2px solid var(--naranja_neon);
    background-color: rgba(255, 67, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(255, 192, 203, 0.2);
    color: var(--rosa_neon);
    border: 2px solid var(--rosa_neon);
}